{% set ssid = ssid | default('wlpc-psk') %}
{% set wlan_enabled = wlan_enabled | default('true') %}
{% set wlan_type = wlan_type | default('psk') %}
{% set psk = psk | default('wlpcIsAwesome') %}
{% set band_steer = band_steer | default('false') %}
{% set band_steer_force_band5 = band_steer_force_band5 | default('false') %}
{% set min_rssi_24 = min_rssi_24 | default(0) %}
{% set template_24 = template_24 | default('compatible') %}
{% set min_rssi_5 = min_rssi_5 | default(0) %}
{% set template_5 = template_5 | default('compatible') %}
{% set vlan_enabled = vlan_enabled | default('false') %}
{% set vlan_id = vlan_id | default('false') %}
{% set vlan_pooling = vlan_pooling | default('false') %}
{% set isolation = isolation | default('false') %}
{% set arp_filter = arp_filter | default('false') %}
{% set limit_bcast = limit_bcast | default('false') %}
{% set allow_mdns = allow_mdns | default('false') %}
{% set no_static_ip = no_static_ip | default('false') %}
{% set no_static_dns = no_static_dns | default('false') %}
{% set vlan_pool_ids = vlan_pool_ids | default([0]) %}
{% set max_idletime = max_idletime | default(1800) %}
{
    "ssid": "{{ ssid }}",
    "enabled": {{ wlan_enabled }},
    "auth": {
        "type": "{{ wlan_type }}",
        "psk": "{% if wlan_type == "psk" %}{{ psk }}{% endif %}",
        "enable_mac_auth": false,
        "multi_psk_only": false
    },
    "roam_mode": "none",

    "band": "both",
    "band_steer": {{ band_steer }},
    "band_steer_force_band5": {% if band_steer %} {{ band_steer_force_band5 }} {% endif %},
    "rateset": {
        "24": {
            "min_rssi": {{ min_rssi_24 }},
            "template": "{{ template_24 }}",
            "ht": "00ff00ff00ff"
        },
        "5": {
            "min_rssi": {{ min_rssi_5 }},
            "template": "{{ template_5 }}",
            "ht": "00ff00ff00ff",
            "vht": "03ff03ff03ff01ff"
        }
    },
    "interface": "all",
    "vlan_enabled": {{ vlan_enabled }},
    "vlan_id": {{ vlan_id }},
    "vlan_pooling": {{ vlan_pooling }},
    "vlan_ids": {{ vlan_pool_ids }},
    "isolation": {{ isolation }},
    "arp_filter": {{ arp_filter }},
    "limit_bcast": {{ limit_bcast }},
    "allow_mdns": {{ allow_mdns }},
    "no_static_ip": {{ no_static_ip }},
    "no_static_dns": {{ no_static_dns }},
    "apply_to": "site",
    "wxtag_ids": [],
    "ap_ids": [],
    "max_idletime": {{ max_idletime }}
}

